# Ignorer tous les fichiers à la racine
/*

# Ne pas ignorer wp-content
!wp-content/

# Dans wp-content, ignorer tout sauf themes
wp-content/*
!wp-content/themes/

# Dans themes, ignorer tout sauf ton thème personnalisé
wp-content/themes/*
!wp-content/themes/

# Inclure tous les fichiers de ton thème
!wp-content/themes/astra-child/**
